.App {
  text-align: center;
}
.Wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 50px;
}
.Card {
  min-width: 150px;
  min-height: 200px;
  border: 1px solid #ccc;
  transform: rotateY(360deg);
  transition: all 0.7s;
}
.flipped {
  position: relative;
  min-width: 150px;
  min-height: 200px;
  border: 2px solid #ccc;
  transform: rotateY(180deg);
  transition: all 0.5s;
  background-color: blue;
  color: blue;
}
.Card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.img {
  max-width: 100%;
}
